{% extends "base.html" %}	
{% block content %}	
<h1>	
	{{company.name}}	
		 {%	if user	== company.user %}	
			(<a	href="{% url 'company_edit' company.id %}">edit</a>)	
		{% endif %}	
</h1>	
<h2>Dades de la Companyia:</h2>	
<p>	
<ul>
<span vocab="http://schema.org/" typeof="Airline">
	<span property="iataCode"><li>Company Code: {{ company.code }}</li></span>
	<span property="name"><li>Company Name: {{ company.name }}</li></span>

<span vocab="http://schema.org/" typeof="Flight">
	{% for split in company.airport.all %}
		<li><span property="departureAirport">Airport: {{ split.code }}</span></li>
	{% endfor %}
	<br/> 
	</p>
</ul>
<h2>
	Flight
	{% if user %}
		(<a href="{% url 'flight_create' company.id %}">add</a>)
	{% endif %}
</h2>
<ul>

	{% for flight in company.flights.all %}
		<li><a href="{% url 'flight_detail' company.id flight.id %}">
			<span property="departureGate">{{ flight.gate }}</span>
			<span property="flightNumber">{{ flight.code }}</span>
			</a></li>
	{% empty %}<li>Sorry, no flights for this company yet.</li>
	{% endfor %}
</ul>

<h2>Reviews</h2>
{% if company.companyreview_set.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">
        Average rating <span property="ratingValue">{{ company.averageRating|stringformat:".1f" }}</span>
        {% with company.companyreview_set.all|length as reviewCount %}
        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>
<ul rel="review">
    {% for review in company.companyreview_set.all %}
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue">{{ review.rating }}</span> star{{ review.rating|pluralize }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <p property="description">{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span> on
                <span property="publishDate">{{ review.date}}</span></p>
        </li>
    {% endfor %}
</ul>
</span>
{% endif %}

<h3>Add Review</h3>
<form action="{% url 'review_create' company.id %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>
    {% for rate in RATING_CHOICES %}
        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
        <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br />
    {% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>

{% endblock %}

{% block footer %}
    Created by {{ company.user }} on {{ company.date }}
{% endblock %} 
