<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/style/base.css" />
    <title>InfoVuelosApp</title>
</head>
<body>
<div id="header">    
            <p>User admin (<a href="/logout/?next=/">logout</a>)</p>
</div>
<div id="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
</div>
<div id="content">
<span vocab="http://schema.org/" typeof="Vuelos">
<h1>
    <span property="name">Airline</span>
        (<a href="/company/1/edit/">edit</a>)
</h1>
<h2>Company:</h2>
<p>
    Iberia <br/>
    IB <br/>
    El Prat - Barcelona (Spain)
</p>
<h2>
    Flights
        (<a href="/company/1/flight/create/">add</a>)
</h2>
<ul>
        <li><a href="/company/1/flight/1/">Barcelona - Madrid</a></li>
        <li><a href="/company/1/flight/3/">Barcelona - Londres</a></li>
        <li><a href="/company/1/flight/4/">Barcelona - Lleida</a></li>
</ul>
<h2>Reviews</h2>
<span rel="aggregateRating">
    <p typeof="AggregateRating">
       Average rating <span property="ratingValue">5</span>
       from <span property="reviewCount">3</span> reviews
    </p>
</span>
<ul rel="review">
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="1"></span>
                <span property="ratingValue">5</span> stars
                <span property="bestRating" content="5"></span>
            </p>
            <p property="description">Excelente calidad de servicio y tratamiento personal</p>
            <p>Created by <span property="author">JosepMa</span> on
                <span property="publishDate">April 2, 2014</span></p>
        </li>
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="1"></span>
                <span property="ratingValue">5</span> stars
                <span property="bestRating" content="5"></span>
            </p>
            <p property="description">La mejor atención en todo momento</p>
            <p>Created by <span property="author">SantiH</span> on
                <span property="publishDate">May 24, 2014</span></p>
        </li>
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="1"></span>
                <span property="ratingValue">5</span> stars
                <span property="bestRating" content="5"></span>
            </p>
            <p property="description">Buen Servicio de inicio a final</p>
            <p>Created by <span property="author">Xurat@</span> on
                <span property="publishDate">June 1, 2014</span></p>
        </li>
</ul>
</span>
<h3>Add Review</h3>
<form action="/company/1/reviews/create/" method="post">
    <input type='hidden' name='csrfmiddlewaretoken' value='Tv06LVn4oRZceUIGVpkN7RfBwhdxKyYb' />
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>
        <input type="radio" name="rating" id="rating1" value="1" />
        <label for="choice1">1 star</label><br />
        <input type="radio" name="rating" id="rating2" value="2" />
        <label for="choice2">2 stars</label><br />
        <input type="radio" name="rating" id="rating3" value="3" />
        <label for="choice3">3 stars</label><br />
        <input type="radio" name="rating" id="rating4" value="4" />
        <label for="choice4">4 stars</label><br />
        <input type="radio" name="rating" id="rating5" value="5" />
        <label for="choice5">5 stars</label><br />
    </p>
    <input type="submit" value="Review" />
</form>
</div>
<div id="footer">
    Created by Xurat@ on March 24, 2013
</div>
</body>
</html>
